* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  .heading h2 {
    font-size: 40px;
    font-weight: 600;
    position: relative;
    text-align: center;
    color: inherit;
  }
  body.dark .heading h2 {
    color: white;
  }
  .heading h2::before,
  .heading h2::after {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    right: 0;
    left: 0px;
    margin: 0 auto;
  }
  .heading h2::before {
    bottom: -8px;
    left: -18px;
  }
  .heading h2::after {
    bottom: -15px;
    left: 18px;
  }
  .heading h2 span {
    color: #ff6e65;
  }
  
  .section {
    padding: 80px 0;
  }
  .pap{
      font-size: 16px;
      line-height: 28px;
      color: #707070;
      letter-spacing: .4px;
  }
  
  /* HEADER  */
  
  .header_top {
    background-color: #0d369f;
  }
  .header_top ul {
    padding: 14px 5px;
    margin: 0;
  }
  .header_top li {
    list-style: none;
    display: inline;
    margin: 0 13px;
  }
  .header_top li i {
    color: white;
    font-size: 14px;
    margin-right: 5px;
  }
  .header_top .header_contact li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.5s;
  }
  .header_top .header_contact li a:hover {
    color: #ff928b;
  }
  
  .header_top .header_social li a i {
    transition: all 0.5s;
  }
  .header_top .header_social li a i:hover {
    color: #ff928b;
  }
  
  .header_nav .navbar-brand span {
    color: #0d369f;
    font-weight: 600;
    font-size: 26px;
    vertical-align: middle;
    transition: all 0.5s;
  }
  .header_nav .navbar-brand span:hover {
    color: #ff6e65;
  }
  
  @media screen and (max-width: 991.98px) {
    .header_top {
      display: none;
    }

    /* HEADER_NAV  */
    .header_nav {
      position: absolute;
      z-index: 999;
      width: 100%;
    }
    .header_nav .navbar {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    .header_nav .navbar-toggler {
      background-color: #0d369f;
      padding: 0;
      width: 34px;
      height: 34px;
      border-radius: 4px;
    }
    .header_nav .navbar-toggler .fa-bars {
      color: white;
      font-size: 19px;
    }
    .navbar-toggler:focus {
      box-shadow: none;
    }
    .header_nav .navbar .mode {
      position: absolute;
      right: 65px;
      top: 20px;
    }
  }
  
  body.dark .header_top {
    background-color: #4867b0;
  }
  body.dark .navbar-brand span {
    color: white;
  }
  /* NAV  */
  .navbar_bottom .nav-link {
    font-weight: 600;
    transition: all 0.5s;
  }
  .navbar_bottom .nav-item .nav-link:hover {
    color: #ff6e65;
  }
  
  .navbar_bottom .nav-item .nav-link.active {
    color: #ff6e65;
  }
  .dropdown-menu {
    border: 1px solid transparent;
    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
    padding: 16px 10px;
  }
  .dropdown-menu .dropdown-item {
    font-weight: 600;
    transition: all 0.5s;
  }
  
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: white;
    color: #ff6e65;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
    left: -48px;
    top: 42px;
  }
  
  .navbar-nav .dropdown-menu::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 78px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid white;
  }
  
  .navbar-collapse form .btn_search {
    position: absolute;
    right: 0;
    top: 12px;
    padding-right: 20px;
    border: none;
    background-color: transparent;
    color: #0d369f;
  }
  .navbar-collapse form .form-control {
    border-radius: 30px;
    padding: 9px;
    padding-left: 14px;
    border: 2px solid #eee;
    background: transparent;
  }
  .navbar-collapse .form-control:focus {
    outline: none;
    box-shadow: none;
  }
  
  body.dark .navbar .nav-link {
    color: #fff;
  }
  
  body.dark .navbar-collapse form .form-control {
    color: white;
  }
  body.dark .navbar-collapse form .form-control::placeholder {
    color: #eee;
  }
  @media screen and (max-width: 991.98px){
    .header_nav .navbar-brand span {
        color: white;
    }
    .mode #switchButton .fa-moon-o {
        color: #4867b0;
    }
    .header_nav .navbar-toggler{
        background-color:#4867b0;
    }
  }
  /* Theme  */
  #myBody {
    background-color: white;
  }
  #switchButton {
    background-color: transparent;
  }
  #switchButton .fa-sun-o {
    display: none;
  }
  #switchButton .fa-moon-o {
    display: block;
    font-size: 23px;
    color: #0d369f;
  }
  #switchButton .fa-moon-o:hover {
    color: #ff4f81;
  }
  
  /* Dark Theme*/
  .dark#myBody {
    background-color: #161c2d;
  }
  .dark #switchButton {
    background-color: transparent;
  }
  .dark #switchButton .fa-sun-o {
    display: block;
    color: #0d369f;
    font-size: 23px;
  }
  .dark #switchButton .fa-sun-o:hover {
    color: #ff4f81;
  }
  .dark #switchButton .fa-moon-o {
    display: none;
  }
  .dark .theme_switch {
    background-color: #161c2d;
    color: white;
    border: 1px solid transparent;
  }
  
  /* Carousel  */
  .carousel-inner {
    height: 45vh;
    /* height: 100%; */
  }
  .carousel-item {
    width: 100%;
    height: 100%;
  }
  .carousel-item img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: linear-gradient(
      75deg,
      rgb(16 16 16 / 34%) 10%,
      rgb(230 2 100 / 0%)
    );
  }
  
  .carousel-caption h5 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 700;
    color: #fff;
    width: 50%;
  }
  .carousel-caption span{
      color: white;
      opacity: .8;
      font-size: 15px;
  }
  .carousel-caption span i{
      padding: 0 5px;
      font-size: 11px;
  }
  .carousel-caption a{
      text-decoration: none;
      color:white;
      opacity: .8;
      transition: all .5s;
      font-size: 15px;
  }
  .carousel-caption a:hover{
      opacity: 1;
  }
  
  @media screen and (max-width: 1199.98px){
    .carousel-caption h5{
      font-size: 24px;
      line-height: 45px;
    }
    .carousel-inner{
      height: 53vh;
    }
  }
  
  @media screen and (max-width: 991.98px) {
    #switchButton {
      background-color: transparent;
    }
    .carousel-caption h5{
      padding-top: 60px;
    }
  }
  
  @media screen and (max-width:800px) {
    .carousel-caption h5{
      font-size: 23px;
      padding-top:90px ;
    }
    .carousel-inner{
      height: 30vh;
    }
  }
  @media screen and (max-width:767.98px) {
    .carousel-caption h5{
      font-size: 22px;
      padding-top: 90px;
    }
    .carousel-inner{
      height: 28vh;
    }
  }
  @media screen and (max-width:575.98px){
    .carousel-caption h5{
      font-size: 23px;
      line-height: 25px;
      padding-top: 100px;
    }
    .carousel-inner{
      height: 28vh;
  
    }
  }

  /* Contact  */
  .contact_content .contact_item h3{
    font-size: 30px;
    font-weight:bold;
    margin-bottom: 40px;
  }
  .contact_content .contact_item .contact_detail .cont_left i{
    font-size: 20px;
    color: #ff6e65;
  }
  .contact_content .contact_item .contact_detail .cont_right h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
  }
  .contact_content .contact_item .contact_detail .cont_right a{
    text-decoration: none;
    color: #707070;
    transition: all .5s;
  }
  .contact_content .contact_item .contact_detail .cont_right a:hover{
    color: #ff6e65;
  }
  .contact_content .map-iframe {
    border: 10px solid #fff;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 6%);
  }

  body.dark .contact_content .contact_item h3{
    color: white;
  }
  body.dark .contact_content .contact_item .contact_detail .cont_right h4{
    color: white;
  }
  body.dark .cont_right p{
    color:#b7b7b7;
  }
  body.dark .contact_item .contact_detail .cont_right a{
    color:#b7b7b7;
  }
  /* QUESTION  */
  .question_content .question_form .input_question input,
    .question_content .question_form .input_mess textarea  {
    padding: 14px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 3px;
    outline: none;
    font-size: 15px;
  }
  .question_content .question_form .input_question input:focus{
    border: 1px solid #ff6e65;
  }
  .question_content .question_form .input_mess textarea {
    border-radius: 8px;
  }
  .question_content .question_form .input_mess textarea:focus{
    border: 1px solid #ff6e65;
  }
  .question_content .question_form .btn-style {
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background: #ff6e65;
    color: white;
    transition: all .5s;
  }
  .question_content .question_form .btn-style:hover {
    background-color: #0d369f;
  }

  body.dark  .question_form .input_question input {
    background-color: #060e1f;
    border: 1px solid rgb(255 255 255 / 20%);
    color: white;
  }
  body.dark .question_form .input_mess textarea {
    background-color: #060e1f;
    border: 1px solid rgb(255 255 255 / 20%);
    color: white;
  }

  @media screen and (max-width: 991.98px){
    .question .heading h2 {
        width: 80%;
        margin: 0 auto;
    }
  }  
  /* FOOTER  */
  footer {
    margin-top: 100px;
  }
  .footer_content {
    padding: 80px 0;
    background: #060e1f;
  }
  .footer_top {
    padding: 50px;
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: -60px;
    right: 0;
    left: 0;
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
  }
  .footer_top .footer_left p:first-child {
    font-size: 35px;
    line-height: 40px;
    font-weight: 600;
  }
  .footer_top .footer_left p:last-child {
    font-size: 14px;
    color: #707070;
    letter-spacing: 1px;
  }
  .footer_top .footer_right {
    width: 70%;
  }
  .footer_top .footer_right input {
    width: 75%;
    padding-left: 16px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #eee;
  }
  .footer_top .footer_right input:focus {
    color: #495057;
    outline: 0;
    border-color: #91e6c4;
  }
  .footer_top .footer_right button {
    padding: 16px 30px;
    border: none;
    background-color: #0d369f;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .footer_bottom {
    margin-top: 120px;
  }
  .footer_bottom .footer_item h4 {
    border-bottom: 1px solid rgb(23 54 88 / 40%);
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
    margin: 0;
  }
  .footer_bottom .footer_item ul li {
    list-style: none;
    padding-bottom: 10px;
  }
  .footer_bottom .footer_item a {
    text-decoration: none;
    color: #cecece;
    font-size: 14px;
    transition: all 0.5s;
  }
  .footer_bottom .footer_item a:hover {
    color: white;
  }
  .footer_bottom .icon_contact span {
    color: #cecece;
    font-size: 15px;
  }
  .footer_bottom .icon_contact i {
    color: white;
    font-size: 18px;
    padding-right: 15px;
  }
  
  .footer_bottom .footer_item .text1 {
    color: #cecece;
    font-size: 14px;
    line-height: 28px;
  }
  .footer_bottom .last_col {
    border-left: 1px solid rgb(23 54 88 / 40%);
  }
  .footer_bottom .footer_social a {
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgb(255 255 255 / 6%);
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    margin-right: 5px;
    transition: all 0.5s;
  }
  
  .footer_bottom .footer_social a:hover {
    opacity: 0.8;
  }
  
  .footer_copywrite {
    background: #040a17;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer_copywrite p {
    margin: 0;
    color: #a0a0a0;
    font-size: 15px;
  }
  .footer_copywrite p a {
    text-decoration: none;
    color: white;
  }
  .footer_copywrite p a:hover {
    text-decoration: underline;
  }
  
  body.dark .footer_top {
    background-color: #161c2d;
  }
  body.dark .footer_top .footer_left p:first-child {
    color: white;
  }
  body.dark .footer_top .footer_left p:last-child {
    color: #b7b7b7;
  }
  
  body.dark .footer_top .footer_right input {
    background-color: transparent;
    border: 1px solid rgb(255 255 255 / 20%);
    color: white;
    transition: all 0.5s;
  }
  body.dark .footer_top .footer_right input:focus {
    box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
  }
  body.dark .footer_top .footer_right button {
    background-color: #4867b0;
    font-weight: 600;
  }
  @media screen and (max-width: 991.98px) {
    .footer_top {
      margin: 0 35px;
    }
    .footer_bottom .last_col {
      border: none;
    }
  }


  /* BACK TO TOP  */
  .backtoTop {
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: 85px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #0d369f;
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
  }
  .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }
  