*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.section{
    padding:80px 0;
}

/* HEADER  */
.header_top {
    background-color: #0D369F;
}
.header_top ul{
    padding: 14px 5px;
    margin: 0;
}
.header_top li{
    list-style: none;
    display: inline;
    margin: 0 13px;
}
.header_top li i{
    color: white;
    font-size: 14px;
    margin-right: 5px;
}
.header_top .header_contact li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    transition: all .5s;
}
.header_top .header_contact li a:hover{
    color: #FF928B;
}

.header_top .header_social li a i{
    transition: all .5s;
}
.header_top .header_social li a i:hover {
    color: #FF928B;
}

.header_nav .navbar-brand span{
    color: #0d369f;
    font-weight: 600;
    font-size: 26px;
    vertical-align: middle;
    transition: all .5s;
}
.header_nav .navbar-brand span:hover{
    color:#ff6e65;
}
.navbar_bottom .nav-item{
    padding: 5px;
}

.navbar_bottom .nav-link{
    font-weight: 600;
    transition: all .5s;
}
.navbar_bottom .nav-item .nav-link:hover{
    color: #ff6e65;
}

.navbar_bottom .nav-item .nav-link.active{
    color: #ff6e65;
}
.dropdown-menu{
    border: 1px solid transparent;
    box-shadow: rgb(12 12 12 / 6%) 0px 1px 20px 0px;
    padding: 16px 10px;
}
.dropdown-menu .dropdown-item{
    font-weight: 600;
    transition: all .5s;
}

.dropdown-item:focus, .dropdown-item:hover{
    background-color: white;
    color: #ff6e65;
}
.navbar-nav .dropdown-menu{
    position: absolute;
    left: -48px;
    top: 42px;
}

.navbar-nav .dropdown-menu::before{
    content: '';
    position:absolute;
    top: -10px;
    right: 78px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid white;
}

.navbar-collapse form .btn_search {
    position: absolute;
    right: 0;
    top: 10px;
    padding-right: 20px;
    border: none;
    background-color: transparent;
    color: #0D369F;
}
.navbar-collapse form .form-control{
    border-radius: 30px;
    padding: 9px;
    border: 2px solid #eee
}
.navbar-collapse .form-control:focus{
    outline: none;
    box-shadow: none;
}

#myBody {
    background-color: white;
}
#switchButton {
    background-color: white;
    border: 1px solid black;
}
#switchButton .fa-sun-o {
    display: none;
}
#switchButton .fa-moon-o {
    display: block;
}


/* Dark Theme*/
.dark#myBody {
    background-color: black;
  }
.dark #switchButton {
    background-color: black;
    border: 1px solid white;
}
.dark #switchButton .fa-sun-o {
    display: block;
    color: white;
}
  
.dark #switchButton .fa-moon-o {
    display: none;
}
.dark .theme_switch {
    background-color: black;
    color: white;
    border: 1px solid white;
}


.carousel-inner{
    height: 90vh;
}
.carousel-item{
    width: 100%;
    height: 100%;
}
.carousel-item img{
    width: 100%;
    object-fit: cover;
}
.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
}

.carousel-caption h5{
    font-size: 65px;
    line-height: 80px;
    font-weight: bold;
    color: #fff;
}

.carousel-caption .btn_banner{
    margin-top: 30px;
    padding: 14px 30px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    background-color: white;
    transition: all .5s;
}

.carousel-caption .btn_banner:hover{
    background-color: #ff6e65;
    color: white;
}

.carousel-indicators [data-bs-target]{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    opacity: 1;
    transition: all .5s;
    border: 5px solid transparent;
}
.carousel-indicators [data-bs-target]:hover{
    background-color: #ff6e65;
}
.carousel-indicators .active{
    background-color: #ff6e65;
}

.carousel-indicators {
    margin-right: 0;
    flex-direction: column;
    align-items: flex-end;
    right: 25px;
    bottom: 30px;
}

/* BOXHOME  */
.boxhome{
    position: relative;
    top: -9rem;
}
.boxhome .boxhome_item{
    text-align: center;
    padding: 50px 35px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
}
.boxhome .boxhome_item.color1{
    background-color: #037ef3;
}
.boxhome .boxhome_item.color2{
    background-color: #ffc949;
}
.boxhome .boxhome_item.color3{
    background-color: #ff4f81;
}
.boxhome .boxhome_item.color4{
    background-color: #1ee697;
}
.boxhome .boxhome_item i{
    font-size: 45px;
    color: white;
    padding-bottom: 25px;
}

.boxhome .boxhome_item h4 a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    transition: all .5s;
}

.boxhome .boxhome_item h4 a:hover{
    color: black;
}